body {
	font-size: 12px;
	margin:0px;
	margin-top: 5%;
	padding: 0px;
	background-color: black;
}

#board {
	position:relative;
	width:512px;
	height: 432px;
	margin:0px auto;
	background: url("images/board.jpg") no-repeat;
}

#messageArea {
	font-weight: 700;
	font-size: 20px;
	line-height: 35px;
	position: absolute;
	top: 0px;
	left: 0px;
	color: rgb(83, 175, 19);
}

table {
	position: absolute;
	top: 50px;
	left: 86px;
	border-collapse: collapse;
	border-spacing: 0px;
}

td {
	padding: 0px;
	width:48px;
	height:48px;

}
form {
	position: absolute;
	bottom: -15px;
	right: 0px;
	padding: 7px;
	background-color: rgb(83, 175, 19);
}
form input {
	background-color: rgb(152, 207, 113);
	border-color: rgb(83, 175, 19);
}

.miss {
	background: url("images/miss.png") no-repeat center center;
}
.hit {
	background: url("images/ship.png") no-repeat center center;
}